{% extends "myapp/base.html" %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner d-flex align-items-center justify-content-center">
                    <div class="banner-text">
                        <h1 class="text-center">ToDo</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        
            <div class="col-md-6">
                <h4>Tasks ToDo</h4>

                {% for task in task_list %}
                    <div class="card mb-2 shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.name }}</h5>
                            <p><b>Priority: {{ task.priority }}</b></p>
                            <p>{{ task.date }}</p>
                            <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
                            <a class="btn btn-warning" href="{% url 'update2' task.id %}">Update</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    
{% endblock %}